# dependencies
node_modules/

# next.js
.next/
out/

# build
tsconfig.tsbuildinfo

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/
*.swp
*.swo
